bhtml, body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #38424B;
    height: 100%;
}


h4 {
    color: #2F373E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}


#form-container {
    width: 100%;
    max-width: 550px;
    padding: 170px 20px 20px;
    margin: 0 auto;
}


form {
    display: flex;
    flex-direction: column;
}


form .sn-input-group {
    display: flex;
    flex-direction: column;
}


form input[type="text"], input[type="email"] {
    height: 32px;
    padding: 0 2px 0 8px;
}


button {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
}


.button-primary {
    background-color: #0777CF;
    color: #fff;
    cursor: pointer;
}


.button-secondary {
    background-color: #E3E6E9;
    color: #38424B;
    font-weight: bold;
}


.button-outlined {
    color: #38424B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    border-radius: 4px;
    border: 1px solid #81919D;
    background: #FFF;
}


.divider {
    height: 1px;
    background-color: #E3E6E9;
}


.gray--700 {
    color: #546470;
}


.gray--900 {
    color: #38424B;
}


.copyright {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 16px;
}


#thank-you-container {
    text-align: center;
    padding-top: 50px;
}


.thank-you-message {
    max-width: 456px;
    margin: 150px auto 0;
}


#thank-you-container p {
    font-size: 14px;
    font-weight: 400;
}


/* Document selector */
.document-list {
    list-style: none;
    padding: 0;
}


.document-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #E3E6E9;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.document-item:hover {
    background-color: #f1f1f1;
}


.document-item.selected {
    background-color: #f1f1f1;
}


.document-image {
    margin-right: 15px;
}


.document-details {
    flex: 1;
}


.document-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}


.document-date {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

.container-block {
    width: 100%;
    max-width: 550px;
    padding: 170px 20px 20px;
    margin: 0 auto;
}

.wide-container-block {
    max-width: 768px;
    padding: 170px 20px 20px;
    margin: 0 auto;
}

/* Admin settings */
.checkbox {
    width: 16px;
    height: 16px;
}


.dropdown {
    position: relative;
}


.dropdown-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}


.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    transition: transform 0.3s ease;
    margin-bottom: 2px;
}


.arrow-container {
    cursor: pointer;
}


.arrow-container.open .arrow {
    transform: rotate(180deg); /* Flip the arrow when open */
}


.dropdown-body {
    padding: 4px 0 4px 24px;
    display: none; /* Initially hidden */
}


.dropdown-item {
    display: flex;
    gap: 8px;
    line-height: 20px;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 0;
}


.dropdown-item:last-child {
    border-bottom: none;
}


/* List of sends */
.header {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    gap: 12px;
    border-bottom: 1px solid #E3E6E9;
}


.header h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}


.search-bar {
    margin-left: 20px;
}


.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
}


.container {
    max-width: 100%;
    padding: 0;
    margin: 0;
}


.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.controls button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #0073e6;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}


.controls button:hover {
    opacity: 0.9;
}


.status-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.status-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -1px 0px 0px #E3E6E9 inset;
    padding: 20px 24px;
}


.status-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}


.status-info {
    display: flex;
    flex-direction: column;
}


.status-info .status-date {
    color: #5D6E7C;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}


.status-badge {
    color: #546470;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 183.333% */
    border-radius: 4px;
    padding: 0 12px;
    background: #F1F2F4;
    box-shadow: 0 0 0 1px #FFF;
}


/* Loading */
.loading-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.image-header {
    padding-top: 32px;
    margin: auto;
}


.icon {
    fill: currentcolor;
}


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
}
.loader-wrapper {
    position: relative;
    display: flex;
    height: 100%;
}


.loader.is-loading::before {
    content: '';
    position: absolute;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0.8;
    z-index: 6;
}


.loader__message {
    margin-top: 8px;
    line-height: 1.43;
    color: #38424B;
    user-select: none;
}


@keyframes spinner {
    0.00% {
        transform: rotate(0deg);
    }


    100.00% {
        transform: rotate(360deg);
    }
}


.loader__spinner {
    width: 48px;
    height: 48px;
    animation: spinner 1s infinite linear;
}


.loader__icon {
    color: #0777CF;
}

#download-container {
  text-align: center;
  padding-top: 50px;
}

.status-badge span {
  text-transform: capitalize;
}
